@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Général */
body {
    height: 100%;
    font-family: "Cairo", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family:"Cairo", sans-serif;
}

h1 { font-size: 70px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

p {
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus {
    color: #6e903c;
    text-decoration: none;
    outline: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Logo */
.logo {
    width: 270px;
    height: auto;
}

.container {
  max-width: 1200px;
}

.stat-card {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  transition: transform 0.2s ease-in-out;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  font-size: 24px;
}
.breadcrumb-section {
	display: flex;
	align-items: center;
	padding: 80px 0 80px;
}

.breadcrumb__text h2 {
    font-family: "Parisienne", cursive;
	font-size: 60px;
	color: #ffffff;
	font-weight: 400;
}


.header__logo {
    text-align: center;
}

.header__menu {
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.header__menu ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__menu ul li {
    margin-right: 30px;
    position: relative;
}

.header__menu ul li:last-child {
    margin-right: 0;
}
.dropdown-menu li a:hover {
    color: #6e903c;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    list-style: none;
    padding: 5px 0;
}
.header__cart {
	text-align: right;
	padding: 50px 0;
}

.header__cart ul {
	display: inline-block;
	margin-right: 25px;
}
.header__cart ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.header__cart ul li:last-child {
	margin-right: 0;
}

.header__cart ul li a {
	position: relative;
}

.header__cart ul li a .icon{
	font-size: 20px;
	color: #1c1c1c;
}

.header__cart ul li a span {
	height: 13px;
	width: 13px;
	background: #6e903c;
	font-size: 10px;
	color: #ffffff;
	line-height: 13px;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -12px;
}
.dropdown-menu li {
    padding: 8px 20px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #ffffff;
}

.dropdown-menu li a {
    text-decoration: none;
    color: #000000;
    font-family: "Cairo", sans-serif;
}

.header__menu ul li a {
    font-size: 14px;
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 0;
    display: block;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
.header__menu ul li.active a{
    color: #6e903c;
}
.header__menu ul li a:hover{
    color: #6e903c;
}

/* Dropdown Menu */
.header__menu ul li .header__menu__dropdown {
    position: absolute;
    left: 0;
    top: 50px;
    background: #222222;
    width: 180px;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.header__menu ul li:hover .header__menu__dropdown {
    opacity: 1;
    visibility: visible;
}

.header__menu__dropdown li {
    display: block;
}

.header__menu__dropdown li a {
    color: #ffffff;
    font-weight: 400;
    padding: 5px 15px;
}

.header__menu__dropdown li a:hover {
    color: #6e903c;
}

/* Hero Section */
.hero {
    padding: 50px 0;
}

.hero__text {
    text-align: center;
    margin-bottom: 30px;
}

.hero__text span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: #6e903c
}

.hero__text h2 {
    font-size: 46px;
    color: #252525;
    font-weight: 700;
    margin: 10px 0;
}

.hero__text p {
    margin-bottom: 35px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .header__menu ul {
        flex-direction: column;
        text-align: center;
    }
    .header__menu ul li {
        margin: 10px 0;
    }
    .hero__text h2 {
        font-size: 36px;
    }
}



.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .navButton {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .navIcon {
    font-size: 2rem;
    color: #333;
  }

  .navButton:first-of-type {
    left: 10px;
  }

  .navButton:last-of-type {
    right: -20px;
  }

  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    overflow: hidden;
  }
  .carouselItem {
    flex: 0 0 33.33%;
    margin: 0 10px; /* Ajuste cette valeur pour augmenter l'espace */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background: #fff;
  }


  .image {
    width: 70%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  .textContainer {
    padding: 10px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  .titre {
    text-align: center; /* Centrer le texte */
    font-size: 1.5rem; /* Augmenter la taille de la police */
    font-weight: bold; /* Rendre le texte en gras */
    color: #6E903C; /* Appliquer la couleur verte */
    margin-bottom: 20px; /* Ajouter un espacement en bas */
    margin-top: 50px;
  }
  .about-us-section {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
  }

  .about-title {
    font-size: 2rem;
    color: #6E903C; /* Vert similaire */
    margin-bottom: 30px;
    font-weight: bold;
  }

  .about-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Gère le responsive */
  }

  .about-card {
    background-color: #eef2eb; /* Couleur douce */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Taille fixe pour les cartes */
    text-align: center;
    transition: transform 0.3s ease;
  }

  .about-card:hover {
    transform: translateY(-5px); /* Léger effet de hover */
  }

  .icon-container {
    font-size: 2.5rem;
    color: #6E903C;
    margin-bottom: 15px;
  }

  .about-heading {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .about-description {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
  }
/* Footer Container */
.footer {
    background-color: #E1E1C8; /* Vert clair */
    color: #333;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Footer Content */
  .footer-content {
    display: flex;
    flex-direction: column; /* Empile les éléments (logo + icônes) verticalement */
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px; /* Espace entre le logo/texte et les icônes */
  }

  .footer-logo h2 {
    font-size: 28px;
    color: #6E903C; /* Vert spécifique */
    font-weight: bold;
  }

  .footer-logo p {
    font-size: 16px;
    color: #333;
    font-weight: 300;
  }

  /* Social Media Icons */
  .footer-icons {
    display: flex;
    gap:20px;

  }

  .footer-icons .icon {
    font-size: 24px;
    color: #333;
    text-decoration: none;

  }

  .footer-icons .icon:hover {
    color: #6E903C; /* Change la couleur au survol */

  }

  /* Footer Bottom */
  .footer-bottom p {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}
::ng-deep .mat-raised-button.primary {
  background-color: #4CAF50; /* Vert clair */
  color: white;
}

::ng-deep .mat-raised-button.primary:hover {
  background-color: #45a049; /* Vert plus foncé au survol */
}

