<body>
  <div class="wrapper">
      <div class="form-box">
          <!-- Logo Section -->
          <div class="logo-container">
          </div>
          <div class="login-container" id="login">
              <div class="top">
                  <header></header>
              </div>
              <div class="input-box">
                  <input
                      type="text"
                      class="input-field"
                      placeholder="Nom"
                      [(ngModel)]="firstname"
                      name="firstname"
                      required>
                  <i class="bi bi-person-circle"></i>
              </div>
              <div class="input-box">
                  <input
                      type="text"
                      class="input-field"
                      placeholder="Prenom"
                      [(ngModel)]="lastname"
                      name="lastname"
                      required>
                  <i class="bi bi-person-circle"></i>
              </div>
              <div class="input-box">
                <input
                    type="text"
                    class="input-field"
                    placeholder="Email"
                    [(ngModel)]="email"
                    name="email"
                    required>
                    <i class="bi bi-envelope"></i> <!-- Icône mise à jour -->
                  </div>
            <div class="input-box">
                <input
                    type="password"
                    class="input-field"
                    placeholder="Mot de passe"
                    [(ngModel)]="password"
                    name="password"
                    required>
                <i class="bi bi-lock"></i>
            </div>
            <div class="input-box">
              <input
                  type="password"
                  class="input-field"
                  placeholder="Confirmer le mot de passe"
                  [(ngModel)]="confirmPassword"
                  name="confirmPassword"
                  required>
              <i class="bi bi-lock"></i>
            </div>

              <div class="input-box">
                  <button
                      class="submit"
                      (click)="onSignUp()">
                      S'inscrire
                  </button>
              </div>
              <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
              <div class="signup-link">
                <p> Déjà un compte ? 
                    <a routerLink="/login" (click)="login()">Se connecter</a>
                </p>
            </div>
              <div class="quote">
                
            </div>
          </div>
      </div>

  </div>
</body>
